body {
	overflow: hidden;
}

.container {
	padding: 15px;
}

.main {
	flex: 1;
	display: block;
}

@media (min-width: 1200px){
	.container {
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 992px){
	.container {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

.header {
	color: #ffffff;
	background-color: #3f51b5; 
	padding: 0.5em;
	display: block;
}

.header > h6 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
	letter-spacing: 0.0075em;
	margin: 0;
	text-align: center;
}

.form {
	display: block;
	width: 100%;
	color: #495057;
	padding: .300rem .75rem;
	font-size: 1rem;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	background-color: #fff;
	outline: none;
	overflow: hidden;
	line-height: 1.5;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.form:focus, .form:active {
	border-color: #80bdff;
}

.list-group {
	display: block;
	list-style: none;
	margin: 1rem 0 0 0;
	padding: 0;
}

.list-group > li {
	margin: 0;
	padding: .75rem 1.25rem;
	border: 1px solid rgba(0,0,0,.125);;
	display: flex;
	line-height: 1em;
	justify-content: space-between;
}

.list-group > li:first-child {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.list-group > li:last-child {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.list-group > li > span {
	display: inline-block;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 500;
	padding: 0px 5px;
	border-radius: 1em;
	background-color: #3f51b5;
	color: #ffffff;
}